<div class="profile-page">

  <!-- Navigation-->
    <nav class="navbar navbar-expand-lg px-5 d-print">
      <a class="navbar-brand" href="/">
          <i class="fad fa-globe-americas fa-2x"></i>
      </a>
      <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-target="#navbarNavAltMarkup" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse px-1" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
              <a class="nav-link" href="/explore">Explore</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Profile </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li> <a class="dropdown-item" href="/profile">My Profile <i class="fa fa-user-circle" aria-hidden="true"></i> </a> </li>
              <li> <hr class="dropdown-divider"> </li>
              <li> <a class="dropdown-item edit-profile-link" href="/profile/edit"> Edit Profile <i class="fas fa-pencil-alt fa-1x"></i></a></li>
              <li> <hr class="dropdown-divider"> </li>
              <li> <a class="dropdown-item" href="/profile/#main-user-section">Inspiration <i class="fa fa-paper-plane" aria-hidden="true"></i> </a> </li>
              <li> <hr class="dropdown-divider"> </li>
              <li> <a class="dropdown-item" href="/profile/#fav-country-form">Favourites <i class="fa fa-heart" aria-hidden="true"></i> </a> </li>
              <li> <hr class="dropdown-divider"> </li>
              <li>
                <form action="/sessions/end" method="post">
                  <button class="dropdown-item btn-danger" href="#">Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i> </button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    {{!-- User profile --}}
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-md-12 user-info">
                <h1>welcome, {{username}} </h1>
                <img src="{{url}}" class="img-radius" alt="User-Profile-Image">
                <h6>vaccination status: {{vaccination_status}}</h6>
        </div>
        <div class="col-md-12 down-icon">
            <a href="#main-user-section"><i class="fad fa-chevron-double-down fa-4x"></i></a>
        </div>
    </div>

    <div id="main-user-section" class="white-container">
    <h1 class="recommended-header pb-5">Destinations recommended for you</h1>
    {{#if vaxStatus}}
    <div class="container">
        <div class="row">
            <div class="col-md-12 recommended-list">
                <div class="row">
                    <div class="recommended-list-item col-3 mx-1 mb-2 d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <p>{{vaxList.[0]}}</p>
                    </div>
                    <div class="recommended-list-item col-3 mx-1 mb-2 d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <p>{{vaxList.[1]}}</p>
                    </div>
                    <div class="recommended-list-item col-3 mx-1 mb-2 d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <p>{{vaxList.[2]}}</p>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="recommended-list-item col-3 mx-1 mb-2 d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <p>{{vaxList.[3]}}</p>
                    </div>
                    <div class="recommended-list-item col-3 mx-1 mb-2 d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <p>{{vaxList.[4]}}</p>
                    </div>
                    <div class="recommended-list-item col-3 mx-1 mb-2 d-flex flex-column justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <p>{{vaxList.[5]}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{else}}
    <div class="container">
        <div class="row">
            <div class="col-md-12 recommended-list">
                <div class="row d-flex flex-row justify-content-center">
                    <div class="recommended-list-item col-4 mx-1 mb-2 d-flex flex-column justify-content-center">
                        <p>{{unvaxList.[0]}}</p>
                    </div>
                    <div class="recommended-list-item col-4 mx-1 mb-2 d-flex flex-column justify-content-center">
                        <p>{{unvaxList.[1]}}</p>
                    </div>
                    <div class="recommended-list-item col-4 mx-1 mb-2 d-flex flex-column justify-content-center">
                        <p>{{unvaxList.[2]}}</p>
                    </div>
                </div>

                <div class="row d-flex flex-row justify-content-center">
                    <div class="recommended-list-item col-3 mx-1 mb-2 d-flex flex-column justify-content-center">
                        <p>{{unvaxList.[3]}}</p>
                    </div>
                    <div class="recommended-list-item col-3 mx-1 mb-2 d-flex flex-column justify-content-center">
                        <p>{{unvaxList.[4]}}</p>
                    </div>
                    <div class="recommended-list-item col-3 mx-1 mb-2 d-flex flex-column justify-content-center">
                        <p>{{unvaxList.[5]}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>



<form id="fav-country-form" action="/profile/addCountry" method="post">
  <label for="fav-country">Select your favorite country</label>
  <select name="country" size="10" required>
    {{#each country_list}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Submit">
</form>
<h2>{{username}}'s selected favorite countries</h2>
{{fav_countries}}

<form id="remove-fav-country-form" action"/profile/removeFav" method="post">
  <select name='favCountry' required>
    {{#each fav_countries}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Remove">
</form>

<!-- <i class="fa fa-sign-out" aria-hidden="true"></i> -->





</div>
